#Instalação das bibliotecas pydataset e pandas

In [ ]:
!pip install pydataset
!pip install pandas

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 81.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pydataset) (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939416 sha256=4607d4b971ae9e3d359868269a37b59a81b65c47cc221a6091e44873138cb15e
  Stored in directory: /root/.cache/pip/wheels/2b/83/5c/073c3755e8b7704e4677557b2055e61026c1a2342149214c13
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

#Importação das bibliotecas pydataset e pandas

In [ ]:
from pydataset import data
import pandas as pd

initiated datasets repo at: /root/.pydataset/

#Importação do dataset "Forbes2000" do pydataset

---

In [ ]:
df = data('Forbes2000')
df.head()

,rank,name,country,category,sales,profits,assets,marketvalue
1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
3,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
5,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

**DESAFIO**

**Definição do problema: Você está trabalhando em um jornal e o
editor quer que você responda as seguintes questões:**

**1. Qual a empresa mais valiosa da lista da Forbes 2000?**

**2. Construa uma tabela com as TOP 10 empresas mais lucrativas da
lista.**

**3. Qual a média de valores de empresa das cinco categorias mais
valiosas?**

**Dicas:**

**Método .max()**

**Método nlargest()**

**Método .groupby()**

### 1. Qual a empresa mais valiosa da lista da Forbes 2000?

In [ ]:
empresa_mais_valiosa = df.loc[df['marketvalue'].idxmax()]
print(empresa_mais_valiosa)

rank                          2
name           General Electric
country           United States
category          Conglomerates
sales                    134.19
profits                   15.59
assets                   626.93
marketvalue              328.54
Name: 2, dtype: object

### 2. Construa uma tabela com as TOP 10 empresas mais lucrativas da lista.

In [ ]:
top10lucrativas = df.nlargest(10, 'profits')

print(top10lucrativas)

    rank              name         country                category   sales  profits   assets  \
4      4        ExxonMobil   United States    Oil & gas operations  222.88    20.96   166.99
1      1         Citigroup   United States                 Banking   94.71    17.85  1264.03
2      2  General Electric   United States           Conglomerates  134.19    15.59   626.93
6      6   Bank of America   United States                 Banking   49.01    10.81   736.45
5      5                BP  United Kingdom    Oil & gas operations  232.57    10.27   177.57
20    20       Freddie Mac   United States  Diversified financials   46.26    10.09   752.25
22    22      Altria Group   United States    Food drink & tobacco   60.70     9.20    96.18
10    10   Wal-Mart Stores   United States               Retailing  256.33     9.05   104.91
31    31         Microsoft   United States     Software & services   34.27     8.88    85.94
17    17             Total          France    Oil & gas operations  131.64     8.84    87.84

    marketvalue
4        277.02
1        255.30
2        328.54
6        117.55
5        173.54
20        44.25
22       111.02
10       243.74
31       287.02
17       116.64

### 3. Qual a média de valores de empresa das cinco categorias mais valiosas?

In [ ]:
mediaCategoria = df.groupby('category')['marketvalue'].mean()

top5Categorias = mediaCategoria.nlargest(5)

mediaTOP5categoria = top5Categorias.mean()

print(mediaTOP5categoria)

26.69119454835006