**DESAFIO**

**Definição do problema: Dado que você está trabalhando com um grupo
de historiadores que estão analisando o naufrágio do Titanic, informe
aos historiadores as seguintes questões?**

**1. Quantas pessoas sobreviveram e quantas morreram?**

**2. Quantas pessoas eram da primeira, segunda e terceira classe?**

**3. Qual a porcentagem de sobreviventes na primeira classe?**

**4. Qual a porcentagem de mortos da terceira classe?**

**Dicas:**

**value_counts() (Itens 1 e 2)**

**seleção de subconjuntos (Itens 3 e 4)**

#Instalação das bibliotecas pydataset e pandas

In [ ]:
!pip install pydataset
!pip install pandas

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 62.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pydataset) (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataset) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pydataset) (1.16.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939416 sha256=5773dba61b0275ffb7bba18a035c7b2eefce5848933a56c424e1fcae0056ccd3
  Stored in directory: /root/.cache/pip/wheels/2b/83/5c/073c3755e8b7704e4677557b2055e61026c1a2342149214c13
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

#Importação das bibliotecas pydataset e pandas

In [ ]:
from pydataset import data
import pandas as pd

initiated datasets repo at: /root/.pydataset/

#Importação do dataset "titanic" do pydataset

In [ ]:
df = data('titanic')
df.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

#1. Quantas pessoas sobreviveram e quantas morreram?

In [ ]:
sobreviveram = df['survived'].value_counts().get('yes')
morreram = df['survived'].value_counts().get('no')
print(f"Sobreviram {sobreviveram} pessoas e morreram {morreram} pessoas")

Sobreviram 499 pessoas e morreram 817 pessoas

#2. Quantas pessoas eram da primeira, segunda e terceira classe?

In [ ]:
primeira = df['class'].value_counts().get('1st class')
segunda = df['class'].value_counts().get('2nd class')
terceira = df['class'].value_counts().get('3rd class')
print(f"{primeira} pessoas eram de primeira classe, {segunda} pessoas eram de segunda classe e {terceira} pessoas eram de terceira classe")

325 pessoas eram de primeira classe, 285 pessoas eram de segunda classe e 706 pessoas eram de terceira classe

#3. Qual a porcentagem de sobreviventes na primeira classe?

In [ ]:
primeira_classe = df[df['class'] == '1st class']
sobreviventes_1_classe = (primeira_classe['survived'] == 'yes').mean() * 100
print(f'Das pessoas que estavam na primeira classe, {sobreviventes_1_classe:.2f}% sobreviveram')

Das pessoas que estavam na primeira classe, 62.46% sobreviveram

#4. Qual a porcentagem de mortos da terceira classe?

In [ ]:
terceira_classe = df[df['class'] == '3rd class']
mortos_3_classe = (terceira_classe['survived'] == 'no').mean() * 100
print(f'Das pessoas que estavam na terceira classe, {mortos_3_classe:.2f}% morreram')

Das pessoas que estavam na terceira classe, 74.79% morreram